<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<!--<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>-->
		<title>StreetSneaker</title>
	</head>
	<body>
	<h1>Hola, {{admin.name}}</h1>
	<h2>Datos personales</h2>
	<form action="/admin/update/{{admin.id}}" method="POST">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" value="{{admin.name}}" required />
			<b>Apellido:</b> <input type="text" name="lastName" placeholder="Apellido" value="{{admin.lastName}}" required />
			<b>Email:</b> <input type="email" name="email" placeholder="xxxxx@xxxxx.xx" value="{{admin.email}}" required />
			<b>Contraseña:</b> <input type="password" name="password" placeholder="******" {{#find}} value="{{admin.password}}" {{/find}} required />
		</p>
		<input type="submit" value="Actualizar datos" />
	</form>
	
	<h2>Añadir Producto</h2>
	<form action="/admin/{{admin.id}}/addProduct" method="POST" enctype="multipart/form-data">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" required />
			<b>Marca:</b> <input type="text" name="brand" placeholder="Marca" required />
			<b>Descripción:</b> <input type="text" name="description" placeholder="Descripción" required />
			<b>Precio:</b> <input type="number" name="price" placeholder="Precio" required />
			<b>Talla:</b> <input type="number" name="size" placeholder="Talla" required />
			<b>Imágen:</b><input type='file' name='file' accept=".jpg, .jpeg, .png" required />
		</p>
		<input type="submit" value="Añadir producto" />		
	</form>
	<h2>Borrar Producto</h2>
	<form action="/admin/{{admin.id}}/removeProduct" method="POST">
		<select name ="productId" required> 
			<option value="">Seleccione un producto</option>
			{{#products}} 
				<option value="{{id}}">{{.}}</option>
			{{/products}} 	
		</select>
		<input type="submit" value="Borrar producto" />	
	</form>	
	
	<h2>Modificar Producto</h2>
	<form action="/admin/{{admin.id}}" method="POST">
		<select name ="productId" required> 
			<option value="">Seleccione un producto</option>
			{{#products}} 
				<option value="{{id}}">{{.}}</option>
			{{/products}} 	
		</select>
		<input type="submit" value="Modificar producto" />	
	</form>
	{{#modifyProduct}}
		<form action="/admin/{{admin.id}}/modifyProduct/{{product.id}}/" method="POST" enctype="multipart/form-data">
			<p>
				<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" value="{{product.name}}" required />
				<b>Marca:</b> <input type="text" name="brand" placeholder="Marca" value="{{product.brand}}" required />
				<b>Descripción:</b> <input type="text" name="description" placeholder="Descripción" value="{{product.description}}" required />
				<b>Precio:</b> <input type="number" name="price" placeholder="Precio" value="{{product.price}}" required />
				<b>Talla:</b> <input type="number" name="size" placeholder="Talla" value="{{product.size}}" required />
				<b>Imágen:</b><input type='file' name='file' accept=".jpg, .jpeg, .png" />
			</p>
			<input type="submit" value="Modificar producto" />
		</form>
	{{/modifyProduct}}	
		
	<h2>Añadir Admin</h2>
	<form action="/admin/{{admin.id}}/createAdmin" method="POST">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" required />
			<b>Apellido:</b> <input type="text" name="lastName" placeholder="Apellido" required />
			<b>Email:</b> <input type="email" name="email" placeholder="xxxxx@xxxxx.xx" required />
			<b>Contraseña:</b> <input type="password" name="password" placeholder="******" required />
		</p>
		<input type="submit" value="Añadir Admin" />
	</form>	
		
	<h2>Eliminar usuario</h2>
	<form action="/admin/{{admin.id}}/removeUser" method="GET">
		<p>
			<b>Email:</b> <input type="email" name="email" placeholder="xxxxx@xxxxx.xx" required />
		</p>
		<input type="submit" value="Eliminar usuario" />
	</form>		
	
	</body>
</html>
