<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<!--<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>-->
		<title>StreetSneaker</title>
	</head>
	<body>
	<h1>Hola, {{name}}</h1>
	<h2>Datos personales</h2>
	<form action="/admin/update/{{id}}" method="POST">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" value="{{name}}" required />
			<b>Apellido:</b> <input type="text" name="lastName" placeholder="Apellido" value="{{lastName}}" required />
			<b>Email:</b> <input type="email" name="email" placeholder="xxxxx@xxxxx.xx" value="{{email}}" required />
			<b>Contraseña:</b> <input type="password" name="password" placeholder="******" {{#find}} value="{{password}}" {{/find}} required />
		</p>
		<input type="submit" value="Actualizar datos" />
	</form>
	
	<h3>Añadir Producto</h3>
	<form action="/admin/{{id}}/addProduct" method="POST">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" required />
			<b>Descripción:</b> <input type="text" name="description" placeholder="Descripción" required />
			<b>Precio:</b> <input type="number" name="price" placeholder="Precio" required />
			<b>Talla:</b> <input type="number" name="size" placeholder="Talla" required />
		</p>
		<input type="submit" value="Añadir producto" />		
	</form>
	<h4>Borrar Producto</h4>
	<form action="/admin/{{id}}/removeProduct" method="POST">
		<select name ="productId" required> 
			<option value="">Seleccione un producto</option>
			{{#products}} 
				<option value="{{id}}">{{.}}</option>
			{{/products}} 	
		</select>
		<input type="submit" value="Borrar producto" />	
	</form>		
	</body>
</html>
