		<footer id="main-footer">
			<p>Diseñado por <a href="https://github.com/Albertomartin21" target="_blank" rel="noopener noreferrer">Alberto Martín</a>, <a href="https://github.com/ezi2000" target="_blank" rel="noopener noreferrer">Fátima Ezahra Smounat</a> y <a href="https://github.com/raulhh2000" target="_blank" rel="noopener noreferrer">Raúl Heredia</a></p>
			<p>Link al repositorio: <a href="https://github.com/raulhh2000/StreetSneakers" target="_blank" rel="noopener noreferrer">https://github.com/raulhh2000/StreetSneakers</a></p>
			<p>Logo diseñado por <a href="https://www.instagram.com/zuliixti/" target="_blank" rel="noopener noreferrer">@zuliixti</a></p>
		</footer>
	</body>
</html>