<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<link rel="stylesheet" type="text/css" href="/css/home.css" />
		<link rel="stylesheet" type="text/css" href="/css/purchase.css" />
		<link rel="stylesheet" type="text/css" href="/css/product.css" />
		<link rel="stylesheet" type="text/css" href="/css/shoppingCart.css" />
		<link rel="stylesheet" type="text/css" href="/css/user.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/header-footer.css" />
		<link rel="stylesheet" type="text/css" href="/css/general.css" />
		<script src="https://kit.fontawesome.com/3a850d17c8.js" crossorigin="anonymous"></script>
		<title>StreetSneaker</title>
	</head>
	<body>
		<div class="wrap-nav">
			<div class="navbar">
				<a href="/"><img src="../images/header-footer/logo.png" class="logo" alt="Main Logo"></a>
				<ul>
					{{#adminRole}}<li><a href="/admin"><img id = "imagen" src="../images/header-footer/admin.png" alt="" /></a></li>{{/adminRole}}
					{{#userRole}}<li><a href="/user"><img id = "imagen" src="../images/header-footer/user.png" alt="" /></a></li>{{/userRole}}
					{{^register}}<li><a href="/login"><img id = "imagen" src="../images/header-footer/login.png" alt="" /></a></li>{{/register}}
					{{#register}}
						<li>
							<form action="/logout" method="POST">
								<input type="hidden" name="_csrf" value="{{token}}"/>
								<input type="image" id="imagen" src="../images/header-footer/logout.png" alt="" />
							</form>
						</li>
					{{/register}}
					{{#userRole}}<li><a href="/shoppingcart"><img id = "imagen" src="../images/header-footer/cart.png" alt="" /></a></li>{{/userRole}}
				</ul>
			</div>
		</div>
				


