<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<link rel="stylesheet" type="text/css" href="/css/home.css" />
		<link rel="stylesheet" type="text/css" href="/css/purchase.css" />
		<link rel="stylesheet" type="text/css" href="/css/product.css" />
		<link rel="stylesheet" type="text/css" href="/css/shoppingCart.css" />
		<link rel="stylesheet" type="text/css" href="/css/user.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/header-footer.css" />
		<link rel="stylesheet" type="text/css" href="/css/general.css" />
		<script src="https://kit.fontawesome.com/3a850d17c8.js" crossorigin="anonymous"></script>
		<title>StreetSneaker</title>
	</head>
	<body>
		<div class="wrap-nav">
			<div class="navbar">
				<a href="/"><img src="../images/header-footer/logo.png" class="logo" alt="Main Logo"></a>
				<ul>
					<li><a href="/admin/1"><img id = "imagen" src="../images/header-footer/admin.png" alt="" /></a></li>
					<li><a href="/user/4"><img id = "imagen" src="../images/header-footer/user.png" alt="" /></a></li>
					<li><a href="/logout"><img id = "imagen" src="../images/header-footer/logout.png" alt="" /></a></li>
					<li><a href="/shoppingcart/4"><img id = "imagen" src="../images/header-footer/cart.png" alt="" /></a></li>
				</ul>
			</div>
		</div>
				


