<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<!--<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>-->
		<title>StreetSneaker</title>
	</head>
	<body>
	<form action="/filterName" method="GET">
		<p>
			<b>Buscar por nombre de zapatilla:</b> <input type="text" name="nameFilter" required />
		</p>
		<input type="submit" value="Buscar Zapatilla" />
	</form>
	<form action="/filterPrice" method="GET">
		<p>
			<b>Buscar por precio:</b>
			Min: <input type="number" name="priceMin" />
			Max: <input type="number" name="priceMax" />
		</p>
		<input type="submit" value="Buscar Zapatilla" />
	</form>
	<form action="/filterSize" method="GET">
		<p>
			<b>Buscar por tamaño de zapatilla:</b> <input type="number" name="size" required />
		</p>
		<input type="submit" value="Buscar Zapatilla" />
	</form>
	<h1>Zapatillas</h1>
		{{#find}}
		<ul>
			{{#products}}
			<li>{{.}}</li>
			{{/products}}
		</ul>
		{{/find}}
		{{^find}}
		<p>No se ha encontrado la zapatilla.</p>
		{{/find}}
	</body>
</html>