<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<link rel="stylesheet" type="text/css" href="/css/purchase.css" />
		<title>StreetSneaker</title>
	</head>
	<body>
		<div class="wrap">
			<h1>Detalles del pedido</h1>
			<div class="client-data">
				<h2>Datos del comprador</h2>
				<p><strong>Fecha del pedido:</strong> {{purchase.date}}</p>
				<p><strong>Nombre:</strong> {{purchase.user.name}}&nbsp;&nbsp;&nbsp;&nbsp;<strong>Apellido:</strong> {{purchase.user.lastName}}</p>
				<p><strong>Email:</strong> {{purchase.user.email}}&nbsp;&nbsp;&nbsp;&nbsp;<strong>Phone:</strong> {{purchase.user.phone}}</p>
				<p><strong>Dirección:</strong> {{purchase.user.address}}&nbsp;&nbsp;&nbsp;&nbsp;<strong>Cuenta bancaria:</strong> {{purchase.user.bankAccount}}</p>
			</div>
			<div class="products">
				<h2>Productos del pedido</h2>
				{{#products}}
					<li class="product-item">
						<div class="product-image">
							<img src="{{image}}" alt="">
						</div>
						<div class="product-body">
							<p><strong>Producto:</strong> {{name}}&nbsp;&nbsp;&nbsp;&nbsp;<strong>Marca:</strong> {{brand}}</p>
							<p><strong>Talla:</strong> {{size}}&nbsp;&nbsp;&nbsp;&nbsp;<strong>Precio:</strong> {{price}} €</p>
						</div>
					</li>
				{{/products}}
				<p class="total-price">Precio total del pedido: {{purchase.totalPrice}} €</p>
			</div>
		</div>
	</body>
</html>