{{>header}}
    	<div class="wrap">
	    	<h1 class="normal">Carrito de la compra</h1>
	        {{#findShoppingCart}}
        		<table class="table">
					<thead>
						<tr>
							<th>Imágenes</th>
							<th>Nombre del producto</th>
							<th>Precio</th>
							<th>Borrar</th>
						</tr>
					</thead>
					<tbody>
						{{#products}}
							<tr>
								<td class="image">
									<a href="/product/{{id}}">
										<img src="data:image/png;base64,{{image}}" alt="" />
									</a>
								</td>
								<td class="name">
									<a href="/product/{{id}}">{{name}}</a>
								</td>
								<td class="price"><p>{{price}} €</p></td>
								<td class="remove">
									<a href="/shoppingcart/remove/{{id}}"><i class="fa-solid fa-xmark fa-xl"></i></a>
								</td>
							</tr>
						{{/products}}
		 				{{#removeProductSuccess}}
		 					<p class="success">El producto se ha eliminado del carrito correctamente</p>
		 				{{/removeProductSuccess}}
					</tbody>
				</table>
				<div class="summary-cart">
					<h2>Resumen del carrito</h2>
					<p class ="title-summary">Sub Total</p>
					{{totalPrice}} €
					<p class ="title-summary">Tasas</p>
					<span class="free">Gratis</span>
					<p class ="title-summary">Coste de envío</p>
					<span class="free">Gratis</span>
					<h3></h3>
					<p class ="total-summary">Total</p>
					{{totalPrice}} €
				</div>
		        <form action="/shoppingcart/buyShoppingCart" method="POST">
		        	<input type="hidden" name="_csrf" value="{{token}}"/>
		        	<input type="submit" value="Realizar Compra" />
		        </form>
	        {{/findShoppingCart}}
	        {{^findShoppingCart}}
	        {{#removeProductSuccess}}<spam class="success">El producto se ha eliminado del carrito correctamente</spam>{{/removeProductSuccess}}
	        	<p>No hay productos en el carrito</p>
	        {{/findShoppingCart}}
    	</div>
{{>footer}}