<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<!--<link rel="shortcut icon" href="img/icono.png"/>-->
		<!--<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>-->
		<title>StreetSneaker</title>
	</head>
	<body>
	<h1>Hola, {{user.name}}</h1>
	<h2>Datos personales</h2>
	<form action="/user/update/{{user.id}}" method="POST">
		<p>
			<b>Nombre:</b> <input type="text" name="name" placeholder="Nombre" value="{{user.name}}" required />
			<b>Apellido:</b> <input type="text" name="lastName" placeholder="Apellido" value="{{user.lastName}}" required />
			<b>Email:</b> <input type="email" name="email" placeholder="xxxxx@xxxxx.xx" value="{{user.email}}" required />
			<b>Contraseña:</b> <input type="password" name="password" placeholder="******" {{#find}} value="{{user.password}}" {{/find}} required />
			<b>Teléfono:</b> <input type="tel" name="phone" placeholder="+34 000000000" {{#find}} value="{{user.phone}}" {{/find}} required pattern="\+[0-9]{2} [0-9]{9}"/>
			<b>Dirección:</b> <input type="text" name="address" placeholder="Dirección" {{#find}} value="{{user.address}}" {{/find}} required />
			<b>Cuenta bancaria:</b> <input type="text" name="bankAccount" placeholder="ESXX XXXX XXXX XX XXXXXXXXX" size="30" {{#find}} value="{{user.bankAccount}}" {{/find}} 7
			required pattern="([A-Z]{2}[0-9]{2}) [0-9]{4} [0-9]{4} [0-9]{2} [0-9]{9}"/>
		</p>
		<input type="submit" value="Actualizar datos" />
		{{#updatedUserSuccess}}<spam class="success">Usuario actualizado correctamente</spam>{{/updatedUserSuccess}}
		{{#updatedUserFailure}}<spam class="failure">El usuario no se ha podido actualizar</spam>{{/updatedUserFailure}}
		{{#mustUpdate}}<spam class="failure">El usuario debe completar todos los datos para realizar su primer pedido</spam>{{/mustUpdate}}
	</form>
	<h2>Mis pedidos realizados</h2>
	{{#findPurchases}}
		<ul>
			{{#purchases}}
				<li><a href="/purchase/{{id}}">{{.}}</a></li>
			{{/purchases}}
		</ul>
	{{/findPurchases}} 
	{{^findPurchases}}
		<p>Aún no se ha realizado ningún pedido.</p>
	{{/findPurchases}}
	
	<h2>Mi lista de deseados</h2>
	{{#findWishList}}
		<ul>
			{{#wishList}}
				<li><a href="/product/{{id}}">{{.}}</a></li>
			{{/wishList}}
		</ul>
	{{/findWishList}} 
	{{^findWishList}}
		<p>La lista de deseados está vacía.</p>
	{{/findWishList}}
</body>
</html>